body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://previews.123rf.com/images/dizanna/dizanna2001/dizanna200100527/138620375-street-vendors-text-with-marker-concept-background.jpg);
}
p{
    padding:10px;
    letter-spacing: 2px;
    font-size: medium;
}
h1,h2{
    padding-left:10px;
    letter-spacing: 2px;  
}