
<h1>Vital Contributors to Urban Economies </h1>
<p>Street vendors are an integral part of urban economies around the world, offering easy access to a wide range of 
goods and services in public spaces. They sell everything from fresh vegetables to prepared foods, from building 
materials to garments and crafts, from consumer electronics to auto repairs to haircuts.

FEATURE E-BOOK: Street Vendors and Public Space: Essential insights on key trends and solutions 
(February 2020) - Through photography and text, this e-book offers an in-depth look at the important role street 
vendors play in cities, the challenges they face, and the solutions that can make cities more vibrant, secure, 
and affordable for all.

FEATURE BLOG: Five Must-reads on Including Street Vendors in Public Spaces</p>

<h2>Contributions</h2>
<p>The Informal Economy Monitoring Study (IEMS) revealed ways in which street vendors in five cities strengthen their communities:

Most street vendors provide the main source of income for their households, bringing food to their families and paying school fees for their children.
These informal workers have strong linkages to the formal economy. Over half the IEMS sample said they source the goods they sell from formal enterprises. Many customers work in formal jobs.
Many vendors try to keep the streets clean and safe for their customers and provide them with friendly personal service.
Street vendors create jobs, not only for themselves but for porters, security guards, transport operators, storage providers, and others.
Many generate revenue for cities through payments for licenses and permits, fees and fines, and certain kinds of taxes. This was true of two thirds of street vendors in the IEMS sample.
Street trade also adds vibrancy to urban life and in many places is considered a cornerstone of historical and cultural heritage. For example, street vendors who sell chai, called "chai-wallahs," are an important part of India's cultural heritage. See photos (NPR) and video of chai-wallahs in action. This Linked-In article explains how they are innovating this centuries-old practice to meet the demands of the present.

Despite their contributions, street vendors face many challenges, are often overlooked as economic agents and unlike other businesses, are hindered rather than helped by municipal policies and practices.
</p>
